doctype html
html
  head
    title= message
  body
    h1= message
    a(href='/home') Ir a la home
    form(action='/api/libros', method='POST')
      div
        label(for='titulo') Título del libro
        input(type='text', name='titulo', id='titulo', required=true)
      div
        label(for='autor') Autor del libro
        input(type='text', name='autor', id='autor', required=true)
      div
        label(for='descripcion') Descripción del libro
        textarea(name='descripcion', id='descripcion', required=true)
      button(type='submit') Añadir libro
