extends header.pug

block content
  h1= message

  a(href='/agregarLibro') Agregar un libro

  table(class="table")
    thead
      tr
        th(scope="col") Titulo
        th(scope="col") Autor
        th(scope="col") Descripcion
        th(scope="col") Acciones
    tbody
      each libro in libros
        tr
          td= libro.titulo
          td= libro.autor
          td= libro.descripcion
          td
            // Enlace para editar el libro
            a(href=`/editarLibro/${libro.id}`) Editar
            // Botón para eliminar el libro
            form(action=`/api/libros/${libro.id}?_method=DELETE`, method="POST", style="display:inline")
              button(type="submit") Eliminar
